.btn-primary {
    border-radius: 30px;
    font-size: 18px;
}

.form-control {
    border-radius: 30px;
    
}

.telefone {
    margin-top:-10px;
}

.far.fa-edit{
    color: #C55347;
}

.fas.fa-phone, .fas.fa-user, .far.fa-envelope {
    color:#696766
}

