<app-header></app-header>
<div class="container">
  <div class="d-flex justify-content-between">  
    <a class="btn btn-primary btn-lg" href="#"  routerLink="/adicionar" role="button"><i class="fas fa-plus-circle mt-2"></i></a>          
    <div class="form-group">
      <input #textoProcurado (keyup)="0" type="email" class="form-control ml-2 mr-5" id="exampleFormControlInput1" placeholder="Buscar colaborador">
    </div>       
  </div>

  <div class="row">    
      <div class="card mt-3 col-md-6 col-sm-6 col-xs-12" *ngFor="let item of colaboradores | filtroBusca:textoProcurado.value">
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <div>
                  <h5>
                    <i class="fas fa-user mr-3"></i>
                     {{ item.nome }}</h5>
                  <p>
                    <i class="far fa-envelope mr-3"></i>
                    {{ item.contato.email }}</p>
                  <p class="telefone">
                    <i class="fas fa-phone mr-3"></i>
                    {{ item.contato.telefone }}</p>
              </div>
              <i class="far fa-edit"></i>
            </div>
          </div>
        </div>
  </div>
</div>

