<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="card mt-3 col-12">
      <div class="card-body">
        <form>
          <div class="form-group">
            <label>Nome do Colaborador</label>
            <input type="text" class="form-control" placeholder="Insira o nome">
          </div>
          <div class="form-group">
            <label>Contato</label>
            <input type="text" class="form-control" placeholder="Adicione um telefone ou e-mail">
          </div>                 
          <div class="d-flex justify-content-end">
            <a class="btn btn-danger btn-lg mr-2" href="#"  routerLink="/home" role="button"><i class="fas fa-arrow-circle-left mr-2 mt-2"></i>Cancelar</a>   
            <a class="btn btn-success btn-lg" href="#"  routerLink="/home" role="button"><i class="fas fa-check mr-2 mt-2"></i>Salvar</a>         
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
