@import '~bootstrap/dist/css/bootstrap.min.css';

body {
    background-color: #f9f9f9;
}

.jumbotron {
    background:rgba(0, 0, 0, 0.397) url('assets/images/img-header.jpg');  
    background-attachment: fixed;
    background-position: center 90%;
}

.jumbotron h2 {
    color: #fff;
    font-size:42px;
    text-transform: uppercase;
    font-weight: bold;
}

.jumbotron p {
    color: #fff;
    font-size: 30px;
}